In [1]:
# import libraries
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
from tensorflow.keras import layers
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

# configure
pd.set_option('display.max_columns', 500)
# Setting up the visualization environment
sns.set(style='whitegrid')
plt.figure(facecolor='white')

2024-03-16 12:06:22.484644: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

KeyboardInterrupt:

In [18]:
# Load the CSV file
df = pd.read_csv("Transaction data training.csv")
# drop IDs
df = df.drop(['TransactionID', 'CustomerID'], axis=1)
# drop CDB country
df = df.drop(['CDB_Location_Country_x', 'CDB_Location_CountryCode'], axis=1)
# drop description
df = df.drop(['Transaction_Description_0'], axis=1)

# Print the contents of the dataframe
df.head(5)

,Origin_Currency,Currency,Transaction_Type,Origin_Date,System_Date,Completed_Date,Origin_Amount,Amount,Merchant_Code,Deposit_Withdrawal,Transaction_Text,Transaction_Description_1,Transaction_Description_2,Transaction_Location,Opposite_party_ID,Opposite_party_Name,Opposite_party_Adress,Opposite_party_City,Opposite_party_Country,IsFraud
0,NOK,NOK,Card,2024-03-07,2024-03-07,2024-03-09,933733.09,933733.09,6899,withdrawal,Top TV word very within.,Ecstasy Amphetamine Speed Testosteron Equasym ...,NaN,Online,NaN,Unknown,NaN,NaN,NaN,0
1,NOK,NOK,Card,2024-02-20,2024-02-20,2024-02-22,2403881.16,2403881.16,Unknown,deposit,NaN,Tonight later and officer behind.,NaN,Online,NaN,Unknown,NaN,NaN,NaN,0
2,NOK,NOK,Card,2024-02-16,2024-02-16,2024-02-17,592255.49,592255.49,Unknown,deposit,Floor purpose realize skin system grow entire.,First six result out that power can.,NaN,5173,61101.0,Charles James,"0819 Kristin Meadows\r\nNorth Melissaton, MH 4...",Mollymouth,NIGERIA,0
3,NOK,NOK,Cash,2024-03-09,2024-03-09,2024-03-11,3372.40,3372.40,Unknown,deposit,NaN,Cell chance hair treatment group film deal cle...,Better daughter member him home perhaps.,0851,NaN,Unknown,NaN,NaN,NaN,0
4,NOK,NOK,Vipps,2024-03-03,2024-03-03,2024-03-05,823.16,823.16,Unknown,withdrawal,Treatment through exactly few force your summer.,Item office she she standard wear agency.,Address role speak cost truth book citizen.,0594,41957.0,Abigail Casey,"1025 Tyler Squares\r\nWest Michaeltown, AK 79151",East Kevinmouth,COLOMBIA,0

In [19]:
fraud_df = df[df['IsFraud'] == 1]
fraud_df.head(5)

,Origin_Currency,Currency,Transaction_Type,Origin_Date,System_Date,Completed_Date,Origin_Amount,Amount,Merchant_Code,Deposit_Withdrawal,Transaction_Text,Transaction_Description_1,Transaction_Description_2,Transaction_Location,Opposite_party_ID,Opposite_party_Name,Opposite_party_Adress,Opposite_party_City,Opposite_party_Country,IsFraud
8,NOK,NOK,Card,2024-02-24,2024-02-24,2024-02-26,3340.32,3340.32,5411,withdrawal,NaN,For hand perform.,Life budget like drug during.,Online,83635.0,Christina Mitchell,1908 Jessica Port Apt. 021\r\nLake Michaelhave...,Lake Samuel,DENMARK,1
31,GBP,NOK,Unknown,2024-03-10,2024-03-10,2024-03-10,769.57,9248.48,Unknown,deposit,Appear impact trial analysis finally not option.,National treat if maybe alone husband road wrong.,List hotel yourself less see.,Online,NaN,Unknown,NaN,NaN,NaN,1
36,NZD,NOK,Card,2024-02-20,2024-02-20,2024-02-22,411.71,2607.60,7995,deposit,Evidence suffer local respond.,Three red according stuff.,NaN,Online,NaN,Unknown,NaN,NaN,NaN,1
48,NOK,NOK,Unknown,2024-02-14,2024-02-14,2024-02-14,8642.24,8642.24,Unknown,withdrawal,Truth produce consumer camera such television.,Into economy may.,NaN,Online,NaN,Unknown,NaN,NaN,NaN,1
61,NOK,NOK,Klarna,2024-03-02,2024-03-02,2024-03-02,3845.04,3845.04,Unknown,withdrawal,Newspaper most open blue ask spring people cam...,Month relate region ok whom college nice.,In lose different best end no suddenly.,Online,NaN,Unknown,NaN,NaN,NaN,1

In [20]:
#Markus test
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

# Identify numerical and categorical features
numerical_features = data.select_dtypes(include=['int64', 'float64']).columns.drop('isFraud')
categorical_features = data.select_dtypes(include=['object']).columns

# Create transformers for the preprocessing stage
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_features),
        ('cat', OneHotEncoder(), categorical_features),
    ])

# Split the dataset into features and target variable
X = data.drop('isFraud', axis=1)
y = data['isFraud']

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
df

ModuleNotFoundError: No module named 'sklearn'